#Для маркетплейса токен
ENCRYPTION_KEY=

#Для JWT
SECRET_KEY=
ALGORITHM=
LIVE_MINUTES_TOKEN= #Access token, refresh token'а нет

#Для базы данных
DB_USER=
DB_NAME=
DB_HOST=
DB_PASSWORD=
DB_PORT=

#Для Redis ссылка
REDIS_URL=

#Для тг бота
TG_BOT_TOKEN=

#Для LLM
OPENAI_API_KEY=

#LLM провайдер
LLM_PROVIDER=

#Для обновления статуса заведения на карте
MAP_PARSE_INTERVAL=

#Для обновления статуса маркетплейса
MARKETPLACE_PARSE_INTERVAL=
